.flex-parent{
display: flex;

flex-direction: row;

justify-content: space-between;

align-items: stretch;

flex-wrap: wrap;

align-content: center;

min-height: 500px;
max-height: 600px;
background-color: aqua;
font-size: 24px;
}
.flex-child{
    margin: 10px;
    padding: 20px;
    background-color: chocolate;
}
    